.resumeContainer {
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1200px;
    margin: 2rem auto 0 auto;
    width: 100%;
}

/* Override body centering for resume page */
.resumeContainer h1 {
    margin-top: 0;
}

.resumeContainer h1+h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.resumeContainer h2 {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid var(--foreground);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.resumeContainer h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.resumeContainer ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}